*{
    margin:0px;
    padding: 0px;
}

body{
    background: silver;
}

a{
    display: block;
    background: black;
    color:white;
    font-size: 20px;
    text-align: center;
    width: 300px;
    padding: 5px;
    text-decoration: none;
    margin: 10px;
    border:2px solid red;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
a:hover{
    display: block;
    background: white;
    color:black;
    font-size: 20px;
    text-align: center;
    width: 300px;
    padding: 5px;
    text-decoration: none;
    margin: 10px;
    border:2px solid red;
    border-radius: 0px;
    box-shadow: 0 0 10px black;
    transform: scale(1.1);
    transition: 1s all ease;
}